<header>
	<!--Navbar-->
	<div class="navbar-fixed">
		<nav id="menu">
			<div class="nav-wrapper blue-grey darken-1">
				<a href="#" class="brand-logo"><span class="deep-orange-text text-lighten-2">{{ site.data.settings.subtitle-1 }}</span> & <span class="grey-text">{{ site.data.settings.subtitle-2 }}</span></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{% for menu in site.data.portfolio.menus %}
					<li><a href="{{ menu.url }}">{{ menu.name }}</a>
					</li>
					{% endfor %}
				</ul>
				<ul id="slide-out" class="side-nav">
					{% for menu in site.data.portfolio.menus %}
					<li><a href="{{ menu.url }}">{{ menu.name }}</a>
					</li>
					{% endfor %}
				</ul>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
	</div>
<!--	banner-->
<div class="banner deep-orange lighten-2 z-index-10 center-align">
	<h1 class="grey-text text-lighten-5">{{ site.data.settings.title }}</h1>
	<h5 class="grey lighten-4 accent-color text-darken-1">{{ site.data.settings.description }}</h5>
	<h6 class="grey-text text-lighten-5">{{ site.data.settings.keys }}</h6>
</div>
</header>
	