<body>
	<ul class="body-slideshow">
		<li><span></span><div class="one"><h3>TO FOLLOW THE PATH..</h3></div></li>
		<li><span></span><div class="two"><h3>TO LOOK BEYOND HORIZON..</h3></div></li>
		<li><span></span><div class="three"><h3>TO OBSERVE THE UNKNOWN..</h3></div></li>
	</ul>
	<div class="top-ribbon"><span>THE <strong>GREY</strong>SIDE</span></div>
	<div class="wrapper">
	<div id="avatar"></div>
	<div class="greeting">
		<h1>Hello World!</h1>
		<h2>Welcome to my homepage</h2>
		<p class="link">
			<a href="./portfolio/">Portfolio</a>
			<a href="./blog/">Blog</a>
		</p>
	</div>
</div>
	<div class="bottom-ribbon">
		<p class="copyright">Copyright &copy; 2015 <strong>Rustam</strong></p>
	</div>
</body>