<body>
	<ul class="body-slideshow">
		<li><span></span>
			<div class="one">
				<h3>HR ADMINISTRATION</h3>
			</div>
		</li>
		<li><span></span>
			<div class="two">
				<h3>HR SYSTEM & TECHNOLOGY</h3>
			</div>
		</li>
		<li><span></span>
			<div class="three">
				<h3>DATA ANALYTICS</h3>
			</div>
		</li>
	</ul>
	<div class="top-ribbon"><span class="sub-1">{{ site.data.settings.subtitle-1 }}&nbsp;</span>&&nbsp;<span class="sub-2">{{ site.data.settings.subtitle-2 }}</span>
	</div>
	<div class="wrapper">
		<div id="avatar"></div>
		<div class="greeting">
			<h1>Hello World!</h1>
			<h2>Welcome to my landing page</h2>
			<p class="link">
				<a href="./resume/">Resume</a>
				<a href="./blog/">Blog</a>
			</p>
		</div>
	</div>
	<div class="bottom-ribbon">
		<p class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
		</p>
	</div>
</body>