/* Change base color & layout */
html
	font-family: $base-font !important


//h1,h2,h3,h4,h5,h6
//	font-family: $heading-font

h1,h2,h3,h4,h6
	padding-bottom: 30px
	text-transform: uppercase
	font-weight: 700

.alt-color
	background: $alt-color

.accent-color
	color: #ff8a65

section
	padding: 50px 0 50px

/* Main Content */

.main-content
	margin-top: 380px

//.alt-bg
//	background: white !important
//	//background-image: linear-gradient(to top, #e6dddd, rgba(90, 86, 86, 0.47))



/* About section */
#about
	padding-bottom: 90px
	
.summary
	border-radius: 3px
	padding: 10px 20px !important

	.about
		text-align: justify
		font-weight: 200

#more
	text-align: justify

/*font-size: 18px
	font-weight: 400 */

/* Footer */

footer
	.page-footer
		margin-top: 0 !important
		padding-top: 40px !important
	
	li
		display: inline

		i
			padding-right: 5px